<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
    <style>
        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #EFEFEF;
            background: linear-gradient(135deg, rgba(251, 204, 154, 1) 0%, rgba(121, 179, 151, 1) 46%, rgba(121, 179, 151, 1) 100%);
            border: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }
    </style>
</head>
<%- include('nav.ejs', { isRead: isRead }) %>
<body>
    <div class="section">
        <div class="form-box2">
            <div class="form-value">
                <form action="/log/login" method="POST">
                    <h2>LogIn</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="username" required>
                        <label for="">ID</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input name="password" type="password" required> 
                        <label for="">PASSWORD</label>
                    </div>
                    <button type="submit">
                        <p style="color: #EFEFEF;">로그인</p>
                    </button>
                    <div class="register">
                        <p>아이디가 없다면 <a href="/register">회원가입</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module">
        import {makeSnowflake} from '/snow.js';

        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake(), 500 * i);
            }
        }      
    </script>


</body>
</html>