<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
    <style>
        button {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            background: #EFEFEF;
            background: linear-gradient(135deg, rgba(251, 204, 154, 1) 0%, rgba(121, 179, 151, 1) 46%, rgba(121, 179, 151, 1) 100%);
            border: none;
            cursor: pointer;
            font-size: 1em;
            font-weight: 600;
        }
    </style>
</head>
<%- include('nav.ejs', { isRead: isRead }) %>
<body>
    <div class="section">
        <div class="form-box2">
            <div class="form-value">
                <form action="/log/login" id="login-form" method="POST">
                    <h2>LogIn</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input name="username" required>
                        <label for="">ID</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input name="password" type="password" required> 
                        <label for="">PASSWORD</label>
                    </div>
                    <button type="submit">
                        <p style="color: #EFEFEF;">로그인</p>
                    </button>
                    <div class="register">
                        <p>아이디가 없다면 <a href="/register">회원가입</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module">
        import {makeSnowflake} from '/snow.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake(), 500 * i);
            }
        }      
    </script>
    <script>
        //로그인
        document.getElementById('login-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            if (!formData.get('username') || !formData.get('password')){
              alert('아이디 또는 비밀번호를 입력해 주세요');
              return;
            }
            const data = {
                username: formData.get('username'),
                password: formData.get('password')
            };
            try {
                const response = await fetch(form.action, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                });
                if (response.ok){
                    window.location.replace('/list/1');
                    return
                } else if (response.status == 400){
                    alert('아이디 또는 비밀번호를 입력해주세요.');
                } else if (response.status == 401){
                    alert('존재하지 않는 아이디입니다.')
                } else if (response.status == 500){
                    alert('서버 오류가 발생했습니다');
                } else {
                    alert('알 수 없는 오류가 발생했습니다');
                }
            } catch(error){
                alert('네트워크 오류가 발생했습니다');
            }
        })
    </script>

</body>
</html>