<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body>
    <div class="section2">
        <div style="height:60px;"></div>
        <div class="form-box" style="display: flex; flex-direction: column; align-items: center;">
            <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; margin-bottom: 10px;">
                <img style="width: 100%; height: 100%; object-fit: cover;" src="https://ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 아이디.imgName %>">
            </div>

            <p style="margin-bottom: 5px;">프로필 사진 설정</p>
            <ion-icon id="beforeChange1" style="font-size: 25px; color: white;" name="create-outline"></ion-icon>

            <form class="changeProfile changeNameVisible" method="POST" action="/profileImg" enctype="multipart/form-data" style="margin-bottom: 10px;">
                <input type="file" name="img1" accept="image/*" required>
                <button type="submit" style="color: white;background-color: #4CAF50; padding: 10px; border-radius: 20px; border: none; cursor: pointer;">프로필사진 적용</button>
            </form>

            <div style="border-top: 1px solid white; width: 70%; margin: 10px;"></div>

            <p style="margin-bottom: 10px;">닉네임: <%= 아이디.username %></p>
            <ion-icon id="beforeChange2" style="font-size: 25px; color: white; margin-bottom: 5px;" name="create-outline"></ion-icon>
            <form class="changeName changeNameVisible" id="changeNameForm" method="POST" action="/change-name" style="margin-bottom: 10px;">
                <input id="newNameInput" style="color: white;" type="text" name="name" placeholder="새로운 닉네임을 작성해주세요.">
                <button type="submit" style="color: white;background-color: #4CAF50; padding: 10px; border-radius: 20px; border: none; cursor: pointer;">변경사항 적용</button>
            </form>

            <div style="border-top: 1px solid white; width: 70%; margin: 10px;"></div>

            <form style="margin-bottom: 10px; margin-top: 5px;">
                <a href="/logout" style="color: white;">로그아웃</a>
            </form>
        </div>
        
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }       
      </script>
    <script>
        // document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
        //     e.target.parentElement.parentElement.style.display = 'none'
        // })
        $('#beforeChange2').click(function(){
            $('.changeName').toggleClass('changeNameVisible');
        });

        $('#beforeChange1').click(function(){
            $('.changeProfile').toggleClass('changeNameVisible');
        });
        document.getElementById('changeNameForm').addEventListener('submit', function(event) {
            var newName = document.getElementById('newNameInput').value;
            if (!newName.trim()) {
                event.preventDefault(); // 폼 전송 막기
                alert('닉네임을 작성해주세요.'); // 경고창 표시
            }
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>