<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs') %>
<body>
    <div class="section2">
        <div style="height:60px;"></div>
        <div style="margin-left: 10px; color: white;">
            <h4>마이페이지</h4>
            <p style="float: left; margin-right: 20px;"> ID : <%= 아이디.username %></p>
            <button id="beforeChange">닉네임 변경</button>
            <p style="clear: both; height: 10px;"></p>
            <form class="changeName changeNameVisible" method="POST" action="/change-name">
                <input type="text" name="name">
                <button type="submit">변경사항 적용</button>
            </form>
            <img style="max-width: 100px;object-fit: cover;" src="https://ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 아이디.imgName %>">
            <p>프로필사진 설정</p>
            <form method="POST" action="/profileImg" enctype="multipart/form-data">
                <input type="file" name="img1" accept="image/*" style="background-color: gray;">
                <button type="submit">프로필사진 적용</button>
            </form>
            <form>
                <a href="/logout">로그아웃</a>
            </form>
        </div>
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }       
      </script>
    <script>
        // document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
        //     e.target.parentElement.parentElement.style.display = 'none'
        // })
        $('#beforeChange').click(function(){
            $('.changeName').removeClass('changeNameVisible')
        })
    </script>
</body>
</html>