<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<body style="position: relative; background-color: #1c1c1c;">
    <%- include('nav.ejs', { isRead: isRead }) %>
    <div class="section2">
        <div style="height:60px;"></div>
        <div class="form-box form-box3">
            <div style="width:100%; background: linear-gradient(135deg, rgba(251, 204, 154, 1) 0%, rgba(121, 179, 151, 1) 46%, rgba(121, 179, 151, 1) 100%); display: flex;
            justify-content: center; border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; 
                margin-bottom: 35px;margin-top: 35px; border: 2px solid #EFEFEF;">
                    <img style="width: 100%; height: 100%; object-fit: cover;" src="https://ddenzubucket.s3.ap-northeast-2.amazonaws.com/<%= 아이디.imgName %>">
                </div>
            </div>
            
            <p style="margin-bottom: 5px;margin-top: 20px;">프로필 사진 설정</p>
            <ion-icon id="beforeChange1" style="font-size: 25px; color: #87FCC4;" name="create-outline"></ion-icon>

            <form class="changeProfile changeNameVisible" method="POST" action="/mypage/profileImg?_method=PUT" enctype="multipart/form-data" style="margin-bottom: 10px;text-align: center;">
                <input style="border: 1px #494a51 solid; color: #fff; width: 70%;
                display: block; margin: 0 auto; margin-top: 15px; margin-bottom: 15px;
                color: rgba(255, 255, 255, 0.5)" 
                type="file" name="img1" accept="image/*" required>
                <button type="submit" style="color: #fff;background: #79B397; padding: 10px; border-radius: 20px; 
                border: none; cursor: pointer;">프로필사진 적용</button>
            </form>

            <div style="border-top: 1px #494a51 solid; width: 70%; margin: 20px;"></div>

            <p style="margin-bottom: 10px; font-weight: 600;"><%= 아이디.username %></p>
            <ion-icon id="beforeChange2" style="font-size: 25px; color: #87FCC4; margin-bottom: 5px;" name="create-outline"></ion-icon>
            <form class="changeName changeNameVisible" id="changeNameForm" method="POST" action="/mypage/name?_method=PUT" style="margin-bottom: 10px;text-align: center;">
                <input id="newNameInput" style="color: #EFEFEF; border: 1px #494a51 solid; width: 80%;
                " type="text" name="name" placeholder="새로운 닉네임을 작성해주세요.">
                <button type="submit" style="color: #fff; background: #79B397; padding: 10px; border-radius: 20px; 
                border: none; cursor: pointer;">닉네임 적용</button>
            </form>

            <div style="border-top: 1px #494a51 solid; width: 70%; margin: 10px;"></div>

            <form style="margin-bottom: 25px; margin-top: 10px;">
                <a href="/log/logout" style="color: #EFEFEF;">로그아웃</a>
            </form>
        </div>
        
    </div>
    <script type="module">
        import {makeSnowflake2} from '/snow.js';
        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }       
      </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        // document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
        //     e.target.parentElement.parentElement.style.display = 'none'
        // })
        $('#beforeChange2').click(function(){
            $('.changeName').toggleClass('changeNameVisible');
        });

        $('#beforeChange1').click(function(){
            $('.changeProfile').toggleClass('changeNameVisible');
        });
        document.getElementById('changeNameForm').addEventListener('submit', function(event) {
            var newName = document.getElementById('newNameInput').value;
            if (!newName.trim()) {
                event.preventDefault(); // 폼 전송 막기
                alert('닉네임을 작성해주세요.'); // 경고창 표시
            }
        });
        window.addEventListener('pageshow', (event) => {
            let what = {
                content : "mypage",
            }
            fetch('/log/locations', {
            method : 'PUT',
            async : false,
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(what)
            })
            .then((r)=>r.text())
            .then((r)=>{
                $('.navigation').load(location.href+' .navigation');
            })
        });
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>