<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<body style="background-color: #131931;">
    <div class="wrap">
        <div class="nav">
            <h2 class="logo"><a style="text-decoration: none;" href="/list/1">홈🎄</a></h2>
            <nav class="navigation">
                <a href="/mypage">MYPAGE</a>
                <a href="/chat">CHATROOM</a>
                <a href="/login">LOGIN</a>
                <a href="/register">REGISTER</a>
            </nav>
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- <script>
        document.body.addEventListener('touchmove', function(event) {
            // let color2 = '#131931'
            let color3 = 'background-image: linear-gradient(#1b1e37, #35364b)'
            // document.body.style.background= color2;
            document.body.style.backgroundImage= color3;
        }, { passive: true });
    </script> -->
</body>
</html>