<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<body style="background-color: #1c1c1c;">
    <div class="wrap">
        <div class="nav">
            <h2 class="logo">
                <a href="/list/1">
                    <img class="home-img" src='/image/home.webp' 
                    loading="lazy" onerror="this.src='/image/dinosaur.webp'"/>
                </a>
            </h2>
            <nav class="navigation">
                <a href="/mypage">MYPAGE</a>
                <% if (!isRead) { %>
                    <a id="chatAlert" href="/chat">CHATROOM</a>
                <% } else { %>
                    <a href="/chat">CHATROOM</a>
                <% } %>
                <a href="/log">LOGIN</a>
                <a href="/register">REGISTER</a>
            </nav>
        </div> 
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>
</html>