<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>

<body class="grey-bg">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <div>단체 채팅방</div>
    <input id="input1">
    <div id="content"></div>
    <button id="send">서버에 메세지 보내기</button>
    <button id="room1">채팅방1 입장</button>
    <button id="room1-send">채팅방1에서 메세지 보내기</button>
    <script>
        var socket = io();
        $('#send').click(function(){
            socket.emit('user-send', $('#input1').val() )
        });

        socket.on('broadcast', function(data){
            $('#content').append('<div>'+ data +'</div>')
        })

        $('#room1').click(function(){
            socket.emit('joinroom', '채팅방입장시켜줘')
        });

        $('#room1-send').click(function(){
            socket.emit('room1-send', '반갑디')
        });

    </script>
</body>


</html>