<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>승뮤니티</title>
    <link rel="stylesheet" href="\main.css">
</head>
<%- include('nav.ejs', { isRead: isRead }) %>
<body class="grey-bg">
    <div class="section2">
        <div style="height:60px;"></div>
        <form class="form-box form-box4" action="/write" method="POST" enctype="multipart/form-data">
            <h4>글작성</h4>
            <input name="title" placeholder="제목 (20글자 이하로 지정해주세요)" required>
            <!-- <input style="height: 150px;" name="content" placeholder="본문" required> -->
            <textarea name="content"  placeholder="본문, 엔터눌러서 줄바꿈" required></textarea>
            <input style="margin-bottom: 5px; background: transparent;
            border: 1px #494a51 solid; color: #494a51; color: rgba(255,255,255,0.4); " 
            type="file" name="img1" accept="image/* video/*" multiple>
            <button type="submit">
                <ion-icon style="color: #87FCC4;" name="paper-plane-outline"></ion-icon>
            </button>
            <p style="clear: both;"></p>
        </form> 
    </div>  
    <script type="module">
        import {makeSnowflake2} from '/snow.js';

        window.onload = function(){
            for (let i = 0; i < 40; i++){
                setTimeout(makeSnowflake2(), 500 * i);
            }
        }      
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>