  body 
  {
      min-height: 100vh;
      width: 100%;
      background: url('/image/loginbackground1.jpg')no-repeat;
      background-color: #3b394e;
      background-position: center;
      background-size: cover;
      
  }
  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
  .white-bg {
    /* clear: both; */
    background: white;
    margin: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    /* backdrop-filter: blur(2px); */
  }

  .list-box {
    padding : 0px;
    /* border-bottom: 1px solid#eee; */
  }
  .list-box h4{
    font-size: 16px;
    margin: 5px;
  }
  .list-right {
    float: left;
  } 

  .list-right a{
    text-decoration-line: none;
    color: #fff;
    font-weight: 600;

  }

  .list-left {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
  } 

  .list-box p {
    font-size: 12px;
    margin: 5px;
    color: #eeeeee;
    /* color: grey; */
  }
  input,div {
    box-sizing: border-box;
  }
  .form-box {
    background : white;
    padding : 25px;
    margin: 20px;
    border-radius: 8px;
  }
  .form-box input {
    padding : 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .form-box button {
    padding: 10px;
    border : none;
    background : lightgrey;
    border-radius: 5px;
  }
  .detail-bg {
    background: white;
    padding: 15px;
    margin-top: 10px;
    background: rgba(255,255,255,0.7);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .search {
    height: 30px;
    text-align: center;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
  }
  .ccontainer {
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .search-bar{
    width: 55%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    backdrop-filter: blur(4px);
    margin-bottom: 5px;
  }
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #fff;
  }
  ::placeholder{
    color: grey
  }
  .search-bar button ion-icon {
    width: 100%;
    height: 100%;
  }
  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    color: #fff;
  } 
  .dark-btn {
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
  }
  .profile-input {
    background-color: white;
  }
  .my {
    margin-left: auto;
    font-weight: bold;
  }

  .reg {
    font-weight: bold;
  }
  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
    list-style: none;
  }
  .text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
  }
  .mine {
    float: right;
  } 

  .chat-box {
    margin-top: 10px;
    background-color: white;
  }
  .time-box {
    font-size: 7px;
  }
  .chat-content li {
    margin: 0px;
  }
  .chat-room{
    background-color: #b8db95;
    border-radius: 5px;
    border: 1px solid grey;
  }

  .list-group-item {
    display: inline-block;
    text-align: left;

  }
  .dele {
    border: none;
    background-color: whitesmoke;
    border-radius: 10px;
    display: inline-block;
  }

  .chat {
    background-color: #b8db95;
    border: none;
  }

  .info {
    text-align: center;
  }

  .infomation {
    /* margin-left: 55px; */
    height: auto;
    margin: 40px auto;
    width: 80%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .like-box {
    height: 35px;
    width: 20%;
    border-radius: 15px;
    background-color: #EEEEEE;
    margin-left: 75%;
  }

  .like {
    float: left;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
  }

  .comment {
    width: 90%;
    overflow:auto; 
    background : white;
    padding : 10px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    background: rgba(255,255,255,0.7);
  }

  .commentInput {
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
  }

  .send {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }

  .profile {
    background-color:rgba(184, 219, 149, 0.5);
    width: 42px;
    height: 42px;
    border-radius: 25px;
    float: left;
    position: relative;
  }
  .profile2 {
    margin-top: 6px;
    width: 90%;
    height: 90%;
    position: absolute;
    transform: translate(0%,-40%);
    text-align: center;
  }
  .profileImage {
    margin-top: 1px;
    width: 100%;
    vertical-align: middle;
  }
  .profile3 {
    max-width: 75%;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    border-bottom: 1px solid;

  }
  #commentDel {
    margin-top: 7px;
    float: right;
  }
  .comment-push {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
  }
  .img-box {
    margin: 10px;
  }
  .dark {
    background: #303134;
    color : white;
  }
  .profiletext{
    margin-left: 5px;
    overflow: hidden;
    white-space  : nowrap;
  }
  .page-btn{
    padding-left: 4px;
    padding-right: 4px;
    /* margin: 1px; */
    /* background-color: white; */
    border: 2px solid #ecb4b2;
    color: #ecb4b2;
    background: transparent;
    font-size: larger;
    /* border: 1px solid black; */
    border-radius: 5px;
  }
  .page-btn:hover {
    background-color: grey;
  }
  .page-btn:active {
    background-color: #fff;
  }

  .everyChat {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    background-color: #b8db95;
  }
  .chatOne{
    height: 15px;
    font-size: small;
  }

  .btn {
    padding: 5px 10px;
    border: 2px solid #ecb4b2;
    background-color: transparent;
    color: #ecb4b2;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
  }

  .btn:focus {
    outline: none;
  }

  .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ecb4b2;
    top:0;
    left:-100%;
    transition: all 0.4s;
    z-index: -1;
  }

  .btn:hover:before {
    transform: translateX(100%);
  }

  .btn:hover {
    background-color: #ecb4b2;
  }

