  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
  }
  html {
    overflow-x : hidden;
  }
  body {
    background-image: linear-gradient(#1b1e37, #35364b);
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
  }
  body::after {
    /* background-image: linear-gradient(#1b1e37, #35364b); */
    background-size: cover;
  }  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url('https:/ddenzubucket.s3.ap-northeast-2.amazonaws.com/loginbackground1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    margin: 0 auto;
    max-width: 850px;
  }
  .section2 {
    min-height: 100vh;
    position: relative;
    background: url('https:/ddenzubucket.s3.ap-northeast-2.amazonaws.com/loginbackground1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    margin: 0 auto;
    max-width: 850px; 
  }
  .white-bg {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* min-width: 400px; */
    /* backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); */
  }

  .list-box {
   padding : 0px;
   width: 100%;
   height: 100%;
  }
  .list-box > a {
    width: 100%;
    height: 100%;
   }
  .list-box h4 {
    font-size: 16px;
    margin: 5px 3px 7px 6px;
  }
  .list-right {
    float: left;
  } 

  .list-right a {
    text-decoration-line: none;
    color: #fff;
    font-weight: 600;
  }

  .list-left {
    float: left;
    margin-top: 6px;
    margin-left: 5px;
    width: 75px;
    height: 85px;
    object-fit: cover;
    border-radius: 7px;
  } 
  @media screen and (max-width: 390px) {
    .list-left{
      width: 70px;
      height: 80px;
      margin-top: 8px;
      margin-left: 5px;
    }
    .list-right > a {
      font-size: 13px;
    }
  }

  .list-box p {
    font-size: 12px;
    margin: 4px 5px 5px 5px;
    color: #eeeeee;
  }
  input,div {
    box-sizing: border-box;
  }
  .form-box {
    top: -50px;
    padding: 20px 20px 10px 20px;
    margin: 40px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;

  }
  .form-box input {
    padding : 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
    border: 2px solid rgba(255,255,255,0.5);
    background: transparent;
  }
  .form-box input:focus {
    outline: none;
  }
  .form-box textarea:focus {
    outline: none;
  }
  .form-box button {
    padding: 10px;
    border : none;
    background : lightgrey;
    border-radius: 5px;
  }
  .detail-bg {
    padding: 15px;
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .search {
    height: 30px;
    text-align: center;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
  }
  .ccontainer {
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .page-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 65%;
  }
  .search-bar{
    width: 55%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    backdrop-filter: blur(4px);
    margin: 10px 0px 0px 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .comment-bar{
    width: 100%;
    /* max-width: 700px; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .commentTime{
    font-size: 11px;
    color: #35364b;
    margin-top: 3px;
    float: left;
  }
  .reComment {
    font-size: 12px;
    color: #35364b;
    margin-top: 2px;
    margin-left: 15px;
    cursor: pointer;
    float: left;
  }
  .reComment_click {
    background: rgba(0, 0, 0, 0.2);
    font-size: 11px;
    color: white;
    border-radius: 5px;
    padding: 3px;
  }
  .reComment_input {
    margin-top: 5px;
    font-size: 12px;
    width: 180px;
    background: transparent;
    /* color: #222222; */
    height: 20px;
    resize: none;
    border: none;
    border-bottom: 1px solid #35364b;
  }
  .reComment_input::placeholder {
    color: #5c596e;
  }
  .reComment_cancel {
    font-size: 12px;
    color: #35364b;
    margin-top: 2px;
    margin-left: 12px;
    cursor: pointer;
    float: left;
    padding: 3px;
  }
  .reComment_send {
    color: #35364b;
    font-size: 20px;
  }
  /* .reComment_arrow {
    color: white;
    height: 0px;
  } */
  .reComment_input:focus {
    outline: none;
  }

  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #fff;
  }
  .comment-bar textarea {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #fff;
    resize: none;
    height: 23px;
  }
  ::placeholder{
    /* color: grey; */
    color: #cecccc;
  }
  .search-bar button ion-icon {
    width: 100%;
    height: 100%;
  }
  .search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    color: #fff;
  } 
  .comment-bar button ion-icon {
    width: 100%;
    height: 100%;
    color: white;
  }
  .comment-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    color: #fff;
  } 
  .dark-btn {
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
  }
  .profile-input {
    background-color: white;
  }
  .my {
    margin-left: auto;
    font-weight: bold;
  }

  .reg {
    font-weight: bold;
  }
  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  @media screen and (max-width: 430px) {
    .chat-content{
      height: 300px;
      overflow-y: scroll;
      padding: 10px;
    }
  }

  .chat-content li span{
    margin-top: 10px;
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }
  .text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin: 0px;
  }
  .mine {
    float: right;
  } 

  .chat-box {
    margin-top: 10px;
    background-color: white;
  }
  .time-box {
    font-size: 10px;
    margin-top: 4px !important;
    background: transparent !important;
  }

  .chat-content li {
    margin: 0px;
  }
  .chat-room{
    background-color: #b8db95;
    border-radius: 5px;
    border: 1px solid grey;
  }

  .list-group-item {
    border: 1px solid grey;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    text-align: left;
    color: white;
  }
  .list-group-item * {
    text-align: center;
  }
  .odd {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .even {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .dele {
    background: transparent;
    border: none;
    border-radius: 10px;
    display: inline-block;
  }

  .chat {
    background-color: #b8db95;
    border: none;
  }

  .info {
    text-align: center;
  }

  .infomation {
    height: auto;
    margin: 40px auto;
    width: 80%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .like-box {
    float: right;
    width: fit-content;
    padding: 0px 12px 0px 0px;
    border-radius: 15px;
    background-color: #5A545C;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .like {
    color: white;
    float: left;
    padding: 5px;
    text-align: center;
    margin-left: 10px;
  }

  .like > .like-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }

  @media (hover: hover){
    .like > .like-icon:hover{
      color: #FE4D4D;
      transform: scale(1);
    }
  }

  .comment {
    width: 90%;
    overflow:hidden; 
    padding : 15px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    margin-top: 7px;
    background: rgba(255,255,255,0.5);
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .commentInput {
    white-space: pre-line;
    left: 20px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    resize: none;
    font-size: 1em;
  }

  .send {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }

  .profile {
    width: 42px;
    height: 42px;
    border-radius: 25px;
    float: left;
    position: relative;
  }
  .profile2 {
    margin-top: 10px;
    width: 90%;
    height: 90%;
    position: absolute;
    transform: translate(-3%,-40%);
    text-align: center;
  }
  .profileImage {
    margin-top: 1px;
    width: 100%;
    vertical-align: middle;
  }
  .profile3 {
    /* width: 60%; */
    max-width: 75%;
    width: 300px;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    /* border-bottom: 1px solid; */
    text-align: left;
    /* padding: 5px; */
    /* background: rgba(0, 0, 0, 0.2); */
  }
  .comment-line{
    top: 10px;
    text-align: left; 
    margin-bottom: 5px; 
    clear: both;
    position: relative;
    border-bottom: 2px #5c596e solid;
    border-radius: 2px;
    text-decoration: underline;
  }

  #commentDel {
    margin-top: 7px;
    float: right;
  }
  .comment-push {
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    position: absolute;
    top:9px;
  }
  .reComment-box{
    width: 230px;
    display: flex;
    margin-top: 8px;
  }
  .img-box {
    width: 100%;
    margin: 10px 0px 10px 0px;
    overflow: auto;
  }
  .dark {
    background: #303134;
    color : white;
  }
  .profiletext{
    width: 130%;
    font-size: 14px;
    margin-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .page-btn{
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid white;
    color: white;
    background: transparent;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  .page-btn:active {
    background: rgba(236, 180, 178, 0.5);
  }
  .nowPage {
    color: white;
    background-color: #ecb4b2;
    border: 2px solid #ecb4b2;
  }
  .page-box ion-icon {
    color: white;
  }
  .everyChat {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    background-color: #b8db95;
  }
  .chatOne{
    height: auto;
    font-size: small;
    margin-right: 5px;
    white-space: pre-line;
  }

  .snowFlake {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -16px;
    animation: fall 10s linear;
  }

  ion-icon {
    cursor: pointer;
    color: #ecb4b2;
    font-size: 30px;
  }
  .btn {
    padding: 5px 10px;
    border: 2px solid #ecb4b2;
    background-color: transparent;
    color: #ecb4b2;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
  }
  .btn > a {
    color: #ecb4b2;
    background: transparent;
  }
  .chat-btn {
    border: 1px solid grey !important;
    background: rgba(0, 0, 0, 0.5);
    color: transparent;
  }
  .btn:focus {
    outline: none;
  }
  .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ecb4b2;
    top: 0;
    left:-100%;
    transition: all 0.4s;
    z-index: -1;
  }
  .chat-btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0c0e1c;
    top: 0;
    left:-100%;
    transition: all 0.4s;
    z-index: -1;
  }
  .btn:hover:before {
    transform: translateX(+100%);
  }
  .btn:hover {
    background-color: #ecb4b2;
  }
  .btn:hover .btn-a{
    background: transparent;
    color: #181C33;
  }
  .chat-btn:hover {
    background-color: transparent
  }

  .snowFlake {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -16px;
    animation: fall 10s linear;
    z-index: 20;
  }

  .logo{
    font-size: 1.2em;
    color: #fff;
    user-select: none;
    margin: 0;
  }
  .logo:hover {
    transform: rotate( 13deg );
    font-size: 1.2em;
  }

  .logo a {
      color: #fff !important;
      text-decoration: none;
      font-weight: 400;
      margin: 3px;
  }

  .navigation a {
      position: relative;
      font-size: .9em;
      color: #fff !important;
      text-decoration: none;
      font-weight: 400;
      margin: 3px;
  }

  .navigation a::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      left:0;
      bottom: -6px;
      transform: scaleX(0);
      transition: 0.5s;
  }
  .navigation a:hover::after {
      transform-origin: left;
      transform: scaleX(1);
  }
  .wrap {
    max-width: 850px;
    margin: 0 auto;
  }
  .nav {
    position: fixed;
    width: 100%;
    max-width: 850px;
    /* min-width: 430px; */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(0,0,0,0.45); 
    min-width: 347px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  @keyframes colorChange {
    0% {
      background-color: rgba(255, 255, 255, 0); /* 투명한 흰색 */
    }
    50% {
      background-color: rgba(173, 255, 47, 0.3); /* 반투명한 녹색노랑 */
    }
    100% {
      background-color: rgba(255, 255, 255, 0); /* 투명한 흰색 */
    }
  }
  
  /* 링크의 스타일을 설정합니다. */
  #chatAlert {
    padding: 0px 1px 0px 1px;
    border-radius: 5px;
    color: greenyellow !important;
    text-decoration: none;
  }
  
  /* 애니메이션을 적용합니다. */
  #chatAlert {
    animation: colorChange 3.5s infinite; /* 5초 간격으로 반복 */
  }
  .form-box2 {
    top: -50px;
    position: relative;
    width: 350px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 430px) {
    .nav {
      padding: 15px;
    }
  }

  h2{
      font-size: 2em;
      color: #fff;
      text-align: center;
  }
  .inputbox{
      position: relative;
      margin: 30px 0;
      width: 310px;
      border-bottom: 2px solid #fff;
  }
  .inputbox label{
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: #fff;
      font-size: 1em;
      pointer-events: none;
      transition: 0.5s;
  }
  input:focus ~ label,
  input:focus ~ :valid{
  top: -5px;
  }
  .inputbox input{
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1em;
      padding: 0 35px 0 5px;
      color: #fff;
  }
  .inputbox ion-icon{
      position: absolute;
      right: 8px;
      color:#fff;
      font-size: 1.2em;
      top: 20px;
  }
  .register{
      font-size: 0.9em;
      color: #fff;
      text-align: center;
      margin: 25px 0 10px;
  }
  .register p a{
      text-decoration: none;
      color: #fff;
      font-weight: 600;
  }
  .register p a:hover {
      text-decoration: underline;
  }
  .changeNameVisible {
    display: none;
  }
  .kakao-ad {
    width: 320px;
    height: 100px;
    margin: 0 auto;
  }
  .curtain {
    position: absolute;
    right: 12px;
    top: 430px;
    width: 25%;
    cursor: pointer;
  }
  @keyframes fall {
    from{}
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
  }